node_modules
.next
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.idea
.vscode
coverage
uploads
public/uploads/*
!public/uploads/.gitkeep
public/icon-512.png
